@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Inter:wght@200;300;400;500;700;800;900&family=Merriweather:wght@300;400;700;900&family=Open+Sans:ital,wght@0,500;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav > h3 {
  width: 243px;
  height: 52.2px;
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
  margin-left: 120px;
  margin-top: 90px;
}

nav > ul {
  display: flex;
  gap: 35px;
  margin-top: 90px;
  margin-right: 120px;
}
nav li {
  list-style: none;
  text-decoration: none;
  width: 62px;
  height: 34.8px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

.banner {
  display: flex;
  gap: 133px;
}
.banner-content h2 {
  width: 582px;
  height: 133px;
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner-content p {
  width: 505px;
  height: 60.9px;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}
.banner-content button {
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 41px;
  background: #e02c6d;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.banner-content {
  margin-top: 145px;
  margin-left: 120px;
}

.banner-content >button >img {
  position: relative;
  top: 4px;
}
.image {
  background-image: url("../images/Circle\ design.svg");
  width: 440px;
  height: 414px;
  margin-right: 165px;
  margin-top: 86px;
}

.sponsor-icon {
  margin-top: 136px;
  margin-left: 165px;
  display: flex;
  gap: 60px;
}
.sponsor-icon img {
  width: 99.116px;
  height: 39.607px;
}

.image-section {
  width: 1450px;
  margin-right: auto;
  margin-left: auto;
}

.image-section h3 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-items: center;
  gap: 60px;
}
.card {
  width: 100%;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 10px;
  /* border: 1px solid red; */

}

.card img {
  width: 100%;
}
.card-stats {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
}
.card-title {
  width: 196px;
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}

.card > label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

.card .rating {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.rating .star {
  display: flex;
  gap: 2px;
}

.rating .star * {
  width: 16px;
  height: 16px;
}
.see-more-button {
  display: flex;
  justify-content: end;
  width: 100%;
  color: rgba(224, 44, 109, 0.87);
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  margin-top: 30px;
  align-items: center;
  gap: 8px;
}
.see-more-button img {
  position: relative;
  top: 1px;
}
/* feature section  */
.feature-section {
  display: flex;
  width: 1440px;
  margin-top: 174px;
  margin-left: auto;
  margin-right: auto;
  gap: 96px;
}
.feature-image {
  width: 404px;
  height: 270px;
  border-radius: 7px;
}
.feature-content h2 {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  line-height: 60px;
}
.feature-content p {
  width: 501px;
  height: 88px;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
.feature-content button {
  background: #e02c6d;
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 8px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.feature-content button #arrow-forward {
  fill: white !important;
}
.feature-content >button >img {
  position: relative;
  top: 4px;
}

/* footer section  */

.footer-section {
  width: 100%;
  height: 239px;
  background: #0a0826;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 100px;
}
.footer-section-content {
  text-align: center;
}

.footer-section-content h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
}
.fafa-copyright {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
}
.footer-section-content p {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 17px;
  margin-bottom: 50px;
}

.feature-content #arrow-forward {
  fill: white;
}

/* responsive query  */

@media screen and (max-width: 576px) {
  *body {
    width: 100%;
  }
  nav {
    flex-direction: column;

  }
  .banner {
    flex-direction: column;
  }
  .sponsor-icon {
    flex-direction: column;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .image-container > button {
    flex-direction: column;
  }
  .feature-section{
    flex-direction: column-reverse;
  }
}
